<!DOCTYPE html>
<html>
<head>
  <title>Eventio.tv - Zorganizujmy Płatną Transmisję Internetową</title>
  <%= stylesheet_link_tag :all %>
  <%#= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="container_16">

        <% if user_signed_in? %>
  <div class="grid_16 admin">
    <ul>
          <li>Witaj <%=  current_user.first_name %></li>
          <li><%= link_to "Hasło", password_user_path(current_user)%></li>
          <li><%= link_to "Wyloguj", destroy_user_session_path %></li>
    </ul>
    </div>
     <% end %>

  <div class="grid_16 header">
   <ul>
     <li><%= link_to "Eventio.tv - Zorganizujmy Płatną Transmisję Internetową", root_path %></li>
   </ul>
  </div>

    <div class="grid_16">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>


  <%= yield %>


</div>

</body>
</html>
